.section{
  position: relative;
  height: 100vh;
  display: flex;
  width: 100%;
}

.background{
  background: url('/img/home/background.webp') no-repeat center center fixed;
  background-size: cover;
}

.right-logo{
  width: 100%;
  height: auto;
  position: sticky;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 126px;
  z-index: 1;
}

.grid-section{
  background: var(--white-500);
  height: 987px;

  /* Layout variables */
  --line-top: 97px;
  --line-bottom: 80px;
  --line-right: 72px;
  --line-center: 715px;

  /* Geometric Center */
  --yTop: var(--line-top);
  --yBottom: calc(100% - var(--line-bottom));
  --cy: calc((var(--yTop) + var(--yBottom)) / 2);

  --xLeft: calc(100% - var(--line-center));
  --xRight: calc(100% - var(--line-right));
  --cx: calc((var(--xLeft) + var(--xRight)) / 2);
}


.grid-lines{
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
}


.line{
  position: absolute;
  background: var(--gold-500);
}


.line-top{
  top: var(--line-top);
  left: 0;
  right: 0;
  height: 2px;
}

.line-bottom{
  bottom: var(--line-bottom);
  left: 0;
  right: 0;
  height: 2px;
}

.line-right{
  top: 0;
  bottom: 0;
  right: var(--line-right);
  width: 2px;
}

.line-center{
  top: 0;
  bottom: 0;
  right: calc(var(--line-center) - 1px);
  width: 2px;
}


.grid-copy{
  position: absolute;
  left: 75px;
  top: calc(var(--line-top) + 76px);
  z-index: 2;
}

.grid-title{
  max-width: 451px;
  margin: 0 0 48px 0;
}

.grid-sub{
  max-width: 423px;
  margin: 0;
}

.golden.book-button{
  margin-top: 36px;
  padding: 14px;
}


.grid-image{
  position: absolute;
  left: var(--cx);
  top: var(--cy);
  width: 498px;
  height: 604px;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}

.grid-image--mobile{ display: none; }
br.mobile{
  display: none;
}


/* ====== BLACK SECTION ====== */
.black-section{
  background: var(--black-600);
}
.black-section-content{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.text{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

h2.black.title{
  margin-top: 143px;
  margin-left: 72px;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 54px */
  max-width: 507px;
}

.button-and-text{
  margin-left: 72px;
  margin-bottom: 91px;
}

.book-button.black{
  margin-top: 45px;
  padding: 14px 30px;
}

p.sub.black{
  color: var(--white-500);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 411px;
}

.black-img-container{
  margin-right: 72px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 55%;
  text-align: right;
  img{
    width: auto;
    height: 100%;
  }
}

.black-img-container--mobile{
  display: none;
}

/* ====== SECTION 4 ====== */

.black-section.section-4{
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: auto;
}
.header-image-container{
  margin: 43px 117px 110px 117px;
}

.header-image{
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

h2.title.section-4{
  margin-top:0;
  margin-left: 0;
  margin-bottom: 74px;
  max-width: max-content;
}

h2.title.section-4--mobile{
  display: none;
}

.section-4-text-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 88px;
}

p.sub.black.section-4{
  max-width: 462px;
  text-align: center;
}

button.golden.section-4{
  margin-top: 0;
  margin-bottom: 87px;
  padding: 14px 48px;
}

/* ====== SECTION 5 ====== */
.section-5{
  background: var(--white-500);

  /* Distance between vertical lines */
  --gap-section-5: 60%;

  /* Margins */
  --line-top-section-5: 64px;
  --line-bottom-section-5: 64px;

  /* Offsets */
  --offset-side-section-5: calc((100% - var(--gap-section-5)) / 2);

  /* Geometric center */
     --cy-section-5: calc((var(--line-top-section-5) + (100% - var(--line-bottom-section-5))) / 2);
     --cx-section-5: 50%;
}

.grid-lines-section-5{
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
}

.line{
  position: absolute;
  background: var(--gold-500);
}

/* Horizontal lines */
.line-top-section-5{
  top: var(--line-top-section-5);
  left: 0; right: 0; height: 2px;
}
.line-bottom-section-5{
  bottom: var(--line-bottom-section-5);
  left: 0; right: 0; height: 2px;
}

/* Vertical (leaving 60% of the screen) */
.line-left-section-5{
  top: 0; bottom: 0;
  left: var(--offset-side-section-5);
  width: 2px;
}
.line-right-section-5{
  top: 0; bottom: 0;
  right: var(--offset-side-section-5);
  width: 2px;
}

/* Content inside lines */
.section-5__content{
  position: relative;
  z-index: 1;
  width: var(--gap-section-5);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2.grid-title.section-5{
  text-align: center;
  max-width: 492px;;
  margin: 0 0 50px 0
}

p.grid-sub.section-5{
  text-align: center;
  max-width: 537px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 30px 0;
}

.img-container-section-5{
  display: none;
}

/* ====== Section 6 ====== */
.section.section-6{
  background: var(--black-600);
  min-height: max-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 47px 0;
}
.sub-section{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;

}

.sub-section.inverse{
  margin-top: 162px;
  flex-direction: row-reverse;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
}

h2.black.title.section-6.italic{
  color: var(--gold-500);
  font-size: 45px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  max-width: 609px;
  margin: 0;
}

p.sub.black.section-6{
  color: var(--white-500);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p.chef-name{
  text-transform: uppercase;
}

p.chef-title{
  margin-bottom: 78px;
}

p.paragraph.section-6{
  max-width: 462px !important;
}

img.image.section-6{
  text-align: right;
  margin-right: 57px;
}

button.section-6{
  padding: 14px 57px;
  margin-top: 75px;
}

.--mobile{
  display: none;
}

/* ====== Section 7 ====== */
.section.section-7{
  background: url('/img/section7/background.webp') no-repeat center center;
  min-height: 1936px;
}

.overlay{
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.89);
}

.section-7.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

h2.section-7{
  color: var(--gold-400);
  margin-top: 165px;
}

h3.subtitle.section-7{
  text-align: center;
  margin-top: 24px
}

img.section-7.divider{
  margin-top: 118px;
}

.paragraph.section-7{
  margin-top: 172px;
  max-width: 548px;
  text-align: center;
}

p.sub.black.body.section-7{
  max-width: 548px;
}

button.section-7{
  z-index: 500;
}

button.transparent.section-7{
  margin-top:44px ;
}

.crane{
  position: absolute;
  bottom: 50px;
  left: 0;
  height: 1016px;
  width: 50vw;
  background: transparent url('/img/section7/crane-01.webp') no-repeat;
  background-size: contain;
  z-index: 1;
}

.right-text.section-7{
  max-width: 400px;
  text-align: left !important;
  position: absolute;
  bottom: 298px;
  right: 13.5vw;
  z-index: 10;
}

button.section-7.golden{
  margin-top: 45px
}

.section-7.--mobile{
  display: none;
}

/* ====== Section 8 ====== */
.section.section-8{
  background: var(--black-600);
  min-height: 992px;
  height: auto;
}

.section-8.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.section-8.sub-section{
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.section-8.sub-section.desktop{
  background: url('/img/section8/img-5.webp')  no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
h3.section-8.title{
  font-size: 45px;
  line-height: 120%;
  margin-top: 61px;
  width: 497px;
  text-align: center;
}

.top-subsection, .bottom-subsection{
  text-align: center;
}

.top-subsection{
  margin-top: 163px
}

.bottom-subsection{
  margin-bottom: 83px;
}

p.section-8.body{
  width: 439px;
  font-size: 20px;
  max-width: max-content;
}

button.section-8.golden{
  margin-top: 32px;
  min-width: 182px;
}

.section-8.--mobile{
  display: none;
}

/* ====== Section 9 ====== */

.section.section-9{
  height: 70vh;
  background: url('/img/section9/background.webp') no-repeat center center fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3.section-9.title{
  font-size: 45px;
  line-height: 120%;
  width: 449px;
  text-align: center;
}

button.section-9.transparent.white-border{
  margin-top: 75px;
  padding: 14px 58px;
}


/* ====== RESPONSIVE ====== */
@media (max-width: 900px) {
  br.mobile{
    display: block;
  }
  .background{
    background: url('/img/home/background-mobile.webp') no-repeat center center;
    background-size: cover;
  }


  .right-logo{
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-right: 0;
    z-index: 1;

    img{
      width: 100%;
      height: auto;
    }
  }

  .grid-section{
    --line-top: 25px;
    --line-bottom: 25px;
    --line-right: 27px;
    --line-center: 27px;


    --yTop: var(--line-top);
    --yBottom: calc(100% - var(--line-bottom));
    --cy: calc((var(--yTop) + var(--yBottom)) / 2);

    --xLeft: calc(100% - var(--line-center));
    --xRight: calc(100% - var(--line-right));
    --cx: calc((var(--xLeft) + var(--xRight)) / 2);

    min-height: 100vh;
    height: auto;
    padding-bottom: 57px;
    justify-content: center;
    text-align: center;
  }

  .line-center{
    top: 0;
    bottom: 0;
    left: var(--line-center);
    right: auto;
    width: 2px;
  }

  .grid-copy{
    position: static;
    left: auto;
    top: auto;
    margin: calc(var(--line-top) + 26px) 24px 0 24px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-title{
    max-width: 100%;
    margin: 0 0 24px 0;
  }

  .grid-image{ display: none; }
  .grid-image--mobile{
    display: block;
    width: 286px;
    height: auto;
    transform: none;
    pointer-events: auto;
    margin: 0 auto 49px;
  }
  .grid-sub{
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 49px;
  }

  .book-button{
    margin-top: 24px;
  }

  h2{
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
  .grid-title{
    max-width: 286px;
    margin-bottom: 49px;
  }

  p{
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }

  .grid-sub{
    max-width: 263px;
  }

  .book-button{
    padding: 9px 30px !important;
    max-width: 156px;
  }

  /* Black section responsive */
  .black-section{
    min-height: 100vh;
  }
  .black-section-content{
    flex-direction: column;
    display: flex;
    justify-content: space-around;
  }
  .text{
    width: 100%;
    align-items: center;
    text-align: center;
  }
  h2.black.title{
    margin: 40px 65px 0 65px;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 263px;
    text-align: left;
  }
  .black-img-container--mobile{
    display: block;
    width: 286px;
    text-align: center;
    margin: 66px 53px;
  }
  .black-img-container{
    display: none;
  }
  .button-and-text{
    margin-left:0;
    margin-bottom: 40px;
  }
  p.sub.black{
    width:266px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
  }

  .book-button.black{
    margin-top: 34px;
    padding: 16px 30px;
    max-width: 156px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  /* Section 4 Responsive */
  .black-section.section-4{
    min-height: max-content;
    height: auto;
  }
  h2.title.section-4--mobile{
    margin: 37px 65px 35px 65px;
    display: block;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
  }
  h2.section-4{
    display: none;
  }
  .header-image-container{
    margin: 35px 19px 63px 19px;
  }
  p.sub.black.section-4{
    min-width: 285px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    br.desktop{
      display: none;
    }
  }

  /** Section 5 responsive **/
  .section-5 {
    --gap-section-5: 86%;
    --line-top-section-5: 28px;
    --line-bottom-section-5: 28px;
    height: max-content;
    min-height: max-content;
  }

  .section-5__content{
    padding-top: 75px;
    justify-content: flex-start;
  }

  h2.grid-title.section-5{
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 286px;
    margin: 0 0 54px 0;
  }

  .img-container-section-5{
    display: block;
    margin-bottom: 54px;
  }
  p.grid-sub.section-5{
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 270px;
    margin-bottom: 26px;
    br.desktop{
      display: none;
    }
  }
  button.transparent.section-5{
    margin-bottom: 58px;
  }

  /* Section 6 responsive */
  .sub-section{
    flex-direction: column;
    margin: 0 0 0 53px;
    width: auto!important;
    align-items: flex-start;
  }

  .sub-section.inverse{
    flex-direction: column;
    margin: 0 0 0 53px;
    align-items: flex-start;
  }

  .section-6.desktop{
    display: none;
  }

  p.section-6{
    font-size: 15px !important;
  }

  p.section-6.paragraph{
    margin-bottom: 40px;
  }

  p.section-6.chef-title{
    margin-bottom: 28px;
    color: var(--gold-500) !important;
  }

  p.section-6.chef-name{
    color: var(--gold-500) !important;
  }

  p.section-6.paragraph.body{
    max-width: 228px !important;
  }

  img.chef.section-6{
    width: 195px;
    height: auto;
  }

  img.divider.section-6{
    margin: 40px 0 31px 0;
  }

  .section-6.--mobile{
    display: block;
  }

  h2.section-6.--mobile{
    font-size: 20px !important;
    margin: 32px 0  !important;
  }

  button.section-6.--mobile{
    margin: 0;
    font-size: 12px;
    padding: 16px 30px;
  }

  /* Section 7 responsive */
  .section.section-7{
    min-height: auto;
    height: auto;
  }

  .overlay{
    height: auto !important;
    min-height: 0;
  }

  .section-7.container{
    height: auto;
  }

  h2.section-7{
    max-width: 270px;
    margin-top: 78px;
  }

  h3.subtitle.section-7{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  img.section-7.divider{
    margin-top: 70px;
    width: 50px;
    height: 49px;
  }

  .paragraph.section-7{
    margin-top: 65px;
  }
  p.sub.black.body.section-7{
    text-align: center !important;
    max-width: 286px;
    width: 286px;
  }

  .crane-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: -100px;
  }

  .crane{
    position: inherit;
    bottom: 0;
    width: 447px;
    height: 428px;
    left:-54px
  }

  .crane-2.--mobile{
    display: block !important;
    position: absolute;
    right: 0;
    top: 180px;
    background: transparent url('/img/section7/crane-02.webp') no-repeat right;
    background-size: contain;
    width: 224px;
    height: 200px;
    z-index: 1;
  }

  .right-text.section-7{
    position: static;
    text-align: center !important;
    max-width: 265px;
    margin-top: 40px;
    margin-bottom: 60px
  }

  h3.section-7.body{
    font-size: 20px !important;
  }

  button.golden.section-7{
    padding: 9px 30px;
    width: 156px;
  }

  /* Section 8 responsive */
  .section.section-8{
    min-height: auto;
    height: auto;
  }

  .section-8.container{
    width: 100%;
  }

  .section-8.sub-section{
    width: 100% !important;
    margin: 0;
  }

  .section-8.desktop{
    display: none;
  }

  .top-subsection{
    margin-top: 49px
  }

  .bottom-subsection{
    margin-bottom: 44px;
  }

  h3.section-8.title{
    font-size: 28px;
    line-height: normal;
    margin-top: 80px;
    max-width: 306px;
  }

  .section-8.--mobile{
    display: block;
  }

  .image.section-8.--mobile{
    margin: 57px 0 45px 0;
    object-fit: cover;
  }

  p.section-8.body{
    line-height: normal;
    font-size: 15px;
    max-width: 270px;
    text-align: center;
  }

  /* Section 9 responsive */
  .section.section-9{
    height: 434px;
    background: url('/img/section9/background.webp') no-repeat center center;
  }
  h3.section-9.title{
    font-size: 28px;
    line-height: normal;
    max-width: 323px;
  }

  button.section-9.transparent.white-border{
    margin-top: 57px;
    padding: 14px 25px;
  }

}
