.section{
  height: 100vh;
  display: flex;
  width: 100%;
}

.background{
  background: url('/img/home/background.jpeg') no-repeat center center fixed;
  background-size: cover;

}

.left-logo{
  width: 100%;
  height: auto;
  position: sticky;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 126px;
}


@media (max-width: 768px) {
  .background{
    background: url('/img/home/background-mobile.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}
