body{
  margin: 0;
}

html{
  --gold-400: #D3A841;
  --gold-500: #C89211;
  --gold-700: #8E680C;
  --gold-800: #6E5009;;
  --white-500: #F7F5F0;
  --black-600: #000000;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

h2{
  font-family: Cormorant, sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: var(--gold-800);
  margin: 0;
}

h2.black{
  color: var(--gold-500);
}

h3{
  color: var(--white-500);
  font-family: Cormorant, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p{
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--black-600);
}

p.white{
  color: var(--white-500);
}

button.golden{
  background: var(--gold-500);
  color: var(--black-600);
  padding: 14px 5px;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background-color 150ms ease;
}

button.golden:hover{
  background: var(--gold-700);
  color: var(--white-500);
}

button.transparent{
  background: transparent;
  color: var(--black-600);
  border: 1px solid var(--gold-700);
  padding: 14px 50px;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 150ms ease;
}

button.transparent.black{
  color: var(--white-500);
}

button.transparent.white-border{
  border: 1px solid var(--white-500);
  color: var(--white-500);
}

button.transparent:hover{
  background: var(--gold-700);
  color: var(--white-500);
}

button.transparent.white-border:hover{
  background: var(--white-500);
  color: var(--black-600);
}

button.transparent.black:hover{
  background: var(--white-500);
  color: var(--black-600);
}


